<%= form_tag search_path, remote: true, class: "form-inline" do %>
<div class="form-group">
  <%= text_field_tag "text", "", class: "form-control", placeholder: "人名（漢字またはひらがな）" %>
  <%= submit_tag "検索", class: "btn btn-primary" %>
</div>
<div>
</div>
<div id="result"></div>
<% end %>
