<% if @dicts.nil? %>
<div class="message">検索する人名を入力</div>
<% elsif @dicts.size == 0 %>
<div class="message">結果0件</div>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>漢字</th>
      <th>ひらがな</th>
      <th>付加情報</th>
    </tr>
  </thead>
  <tbody>
    <% @dicts.each do |dict| %>
    <tr>
      <td><%= dict.kanji %></td>
      <td><%= dict.hiragana %></td>
      <td><%= dict.desc %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end  %>
